.person_container{
  border: 1px solid red;
  height: 100px;
  margin: 20px;
  display: flex;
  background-color: royalblue;
  color: white;
  border-radius: 10px;
  padding: 30px;
  justify-content: space-between;
}
.testingpurpose{
  text-align: center;
}
.memberCount{
  color: blue;
  cursor: pointer;
}